@font-face {
    font-family: Inter;
    src: url(Fonts/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: Courier;
    src: url(Fonts/Courier.ttf);
}


html {
    scroll-behavior: smooth;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    max-width: 100vw;
    height: 100%;
    margin: 0px;
    opacity: 100;
    background-color: black;
    /* background-image: url("images/backgroundwl.png"); */
    background-size:185%;
    background-repeat: repeat;
    background-position:center;
}


#hello{
    z-index:6;
    position: fixed;
    width: 100vw;
    height: 100vh;
    font-family: Courier;
    font-size: 2vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-color: black;
    background-color: black;

    /* border-radius: 10px;
    margin-top: 10vh;
    height: 85vh;
    width: 90vw;
    left: 5vw; */
}.loadingImage{
    position:absolute;
    margin-bottom: 10vmin;
    z-index:6;
    height:5vmin;
    width:5vmin;
    display: block;
}.coolanimation{
    position: absolute;
    margin-top: 10vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}
#stringl {
  display: flex;
  flex-direction: column;
  text-align: center;
  animation: move 4s infinite;
}.greeting {
  position: relative;
  top: 8.6vmin;
  animation: white-out 5s infinite;
}.closure::after {
  content: '';
  position: absolute;
  height: 30vmin;
  width: 40vmin;
  background: black;
  transform: translate(-40vmin, -30.5vmin);
}.closure::before {
  content: '';
  position: absolute;
  height: 35vmin;
  width: 40vmin;
  background: black;
  transform: translate(-40vmin, 5vmin);
}.en {
  color: #fa8231;
}.es {
  color: white;
}.de {
  color: #c678dd;
}.it {
  color: #a9b0bd;
}

@keyframes move {
  0%{
    transform: translatey(-24vmin);
    opacity: 1;
  }
  25% {
    transform: translatey(-13.8vmin);
    opacity: 1;
  }
  50% {
    transform: translatey(-4vmin);
  }
  75% {
    transform: translatey(7vmin);
  }
  100%{
    transform: translatey(-24vmin);
  }
}


#perpendicular-line {
    z-index: 2;
    position: absolute;
    
    border-left: 10vw;
    border-color: #26023a;
    margin-left: 5.4vw;
    height: 700vw;
    margin-top: 40vh;
}.perpendicular-lineT{
    z-index: 2;
    position: absolute;
    
    border-left: 10vw;
    border-color: #26023a;
    margin-left: 5.4vw;
    bottom: 0;
    height:700vw;
}

.header {
    /* position: fixed; */
    margin: 0px;
    width: 100%;
    height:7vh;
    display:flex;
    z-index: 6;
    position: absolute;
} .sticky {
    position: fixed;
    top: 0vw;
    height: 6vh;
    padding-bottom: 1vh;
    /* padding-top: 2.5vw; */
    width: 100%;
    /* background-image: linear-gradient(#34294ed6,#34294ed6,#34294ed6,#34294ed6,#34294ed6,transparent); */
    background-color: #22173a
}.sticky + .content {
    padding-top: 102px;
}.Yanzhao {
    margin: auto;
    padding-left: 2vw;
    height: 2.5vh;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}.yanzhaoi {
    margin: auto;
    height: 2vw;
}.mainheaderi {
    z-index:5;
    margin: 0px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}.mainheader {
    /* padding:0 10px #848484; */
    /* border: 1px solid #ccc; */
    margin: 0px;
    height: 100%;
    flex-grow: 1;
    align-content: center;
    justify-content: flex-end;
} .menu {
    height: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 2vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    margin-block-start: 0;
    margin-block-end: 0;

    float: right; 
    align-items: center;
    display: flex;
    align-self: center;
}.menulink {
    color: #848484;
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap
}
.hamburger {
    z-index: 5;
    display: none;
    height: 2.5vh;
    flex-direction: row-reverse;
    padding-left: 4vw;
}#myLinks {
    z-index: 4;
    width: 100vw;
    background-color: #22173a;
    left: 0;
    position: absolute;
    display: none;
    padding-top: 5vh;
}.dropdownmenu {
    position: relative;
    z-index: 1;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    padding-left: 1rem;

    display: flex;
    justify-content: center;
}.dropdownYanzhao{
    margin: auto;
    padding-right: 2vw;
    height: 2.5vh;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    display: none;
}#Contacts{
    color: #848484;
}#Awards{
    color: #848484;
}#Portfolio{
    color: #848484;
}#About{
    color: #848484;
}#Start{
    color: white;
}


@media(max-width:600px){

    .mainheader{
        display:none;
    }.Yanzhao{
        display:none;
    }
    .hamburger{
        display:block;
        width: 100%;
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: flex-end;
    }.hamburgeri{
        height: 55%;
        align-self: center;
        padding-right: 2.5vw;
        left: 0;
        /* border: 1px solid #ccc;
        text-align: center; */
    }.dropdownYanzhao{
        display: flex;
    }
}


#initialpage{
    background-color: black;
    background-image: url("images/square.png");
    background-size:150%;
    background-repeat: repeat;
    background-position: center;
    margin: 0;
    width: 100%;
    height: 100vh;
    align-items: auto;
    /* border: 1px solid #848484; */
} .introduction {
    position: absolute;
    margin-top:38vh;
    margin-left: 0;
    height: 300px;
    /* border: 1px solid #848484; */
}.sectionheader{
    display:flex;
    height: 2vh;
    padding-left: 2.05vw;

    padding-top:1vh;
    margin-left:3vw;
    align-items: center;
    padding-bottom: 1vh;
}.sectionheadertext{
    font-size: 1rem;
    padding-top: 0;
    display: inline-flex;
    margin-block-start: 0;
    margin-block-end: 0vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    color: #848484;
}.dot {
    margin-top: 0;
    height: 0.8vw;
    width: 0.8vw;
    z-index:2;
    background-color:white;
    border-radius: 50%;
    display: inline-flex;
    margin-right:1vw;
}.start{
    margin-left: 4.5vw;
    margin-top: 1vh;
}.starttext{
    position: relative;
    z-index: 2;
    padding-left: 2.05vw;
    margin-block-start: 2vw;
    margin-block-end: 2vw;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 1000;
    font-size: 3.5rem;
    color: white;
}@media (max-width:600px){
    .starttext{
        font-size: 2.7rem;
    }.sectionheadertext{
        font-size: 0.8rem;
    }
}
.starttextbottom{
    position: relative;
    z-index: 2;
    padding-left: 2.05vw;
    margin-block-start: 2vw;
    margin-block-end: 2vw;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    color: #848484;
} .LiuYanzhao{
    text-decoration:none;
    color:#840CC2
} #LiuYanzhaoTitle{
    text-decoration:none;
    color:#840CC2
}


.transition{
    position: absolute;
    z-index: 1;
    bottom: 0;
    height: 26.8vh;
    width: 100vw;
    background-image: linear-gradient(transparent, #0E0E0E);
    /* border: 1px solid #848484; */
}

#mainheader {
    align-items: center;
    display: flex;
    justify-content: center;
}

#secondpage{
    background-color: #0E0E0E;
    background-size:100%;
    background-repeat: no-repeat;
    /* border: 1px solid #848484; */
}.code{
    margin-left: 0.3vw;
    margin-block-start: 0;
    margin-block-end: 0;
    color: #323232;
    font-family: 'Courier';
    font-style: normal;
    font-weight: 50;
    font-size: 1.5rem;
    align-items: baseline;
    align-items: center;
    letter-spacing: -0.1em;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    padding-right: .5rem;
}.coden{
    margin-left: 1vw;
    margin-block-start: 0;
    margin-block-end: 0;
    color: #323232;
    font-family: 'Courier';
    font-style: normal;
    font-weight: 50;
    font-size: 1.5rem;
    align-items: baseline;
    align-items: center;
    letter-spacing: -0.1em;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    padding-right: .5rem;
    width: 5.4vw;
}.block:hover{
    background-color: #151515;
    color: rgb(168, 168, 168);
}.block{
    display: flex;
    align-items: stretch;
    padding-bottom: .5rem;
}.text{
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
}.specialchara{
    color: #6E6BF9;
    margin-block-start: 0;
    margin-block-end: 0;
}.funcname{
    color: #E7E1B2;
    margin-block-start: 0;
    margin-block-end: 0;
}.command{
    color: #840CC2;
    margin-block-start: 0;
    margin-block-end: 0;
}.int{
    color: #8BD080;
    margin-block-start: 0;
    margin-block-end: 0;
} .comment{
    color: #51774B;
    margin-block-start: 0;
    margin-block-end: 0;
} .string{
    color: #BA7535;
    margin-block-start: 0;
    margin-block-end: 0;
}
@media(max-width:600px){
    .coden{
        font-size: 1rem;
    }.code{
        font-size: 1rem;
    }
}


#thirdpage{
    position: relative;
    background-color: #0E0035;
    background-size:100%;
    min-height: 590vw;
    width: 100vw;
    overflow: hidden;
    /* border: 1px solid #848484; */
}.twentytwentythree{
    position: absolute;
    margin-left: 9vw;
    margin-top: 3.5vw;
    width: 39vw;
    z-index: 1;
}.twentytwentytwo{
    position: absolute;
    margin-left: 7vw;
    margin-top: 120vw;
    width: 39vw;
    z-index: 1;
}.twentytwentyone{
    position: absolute;
    margin-left: 7vw;
    margin-top: 345vw;
    width: 39vw;
    z-index: 1;
}.pretwentytwentyone{
    position: absolute;
    margin-left: 55vw;
    margin-top: 468vw;
    width: 43vw;
    z-index: 1;
}
.selectedtxt{
    padding-left: 2.05vw;
    position: relative;
    z-index:2;
    margin-left: 5vw;
    height: 5vw;
    margin-block-start: 0;
    margin-block-end: 0;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 10;
    font-size:1.5rem;
}
@media(max-width:600px){
    .selectedtxt{
        font-size:0.8rem;
    }
}
/* }.SingVex:hover .imageb{
    transition-delay: 1000ms;
    display: inline-block;
}.SingVex:hover .imaget{
    transition-delay: 1000ms;
    display: none;
}
.SST-SUTD:hover .imageb{
    display: inline-block;
}.SST-SUTD:hover .imaget{
    display: none;
} */


.ImageGradientl{
    background-image: linear-gradient(to bottom left, transparent, transparent, rgba(0, 0, 0, 0.93));
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
}.ImageGradientr{
    background-image: linear-gradient(to bottom right, transparent, transparent, rgba(0, 0, 0, 0.93));
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
}.imagetexl{
    position: absolute;
    width: 50%;
    height: 50%;
    z-index: 2;
    bottom: 0;
}.titlel{
    position: absolute;
    bottom: -5vw;
    left:-5vw;
    z-index: 3;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    color: white;
    font-size: 5vw;
    margin: 5px;
    border-bottom: 1px solid white;
    transform: translateZ(30px);
}.subtitlel{
    position: absolute;
    z-index: 3;
    
    color: white; 
    font-family: 'Inter';
    font-style: normal;
    font-size: 3vw;
    font-weight: 350;
    bottom: -16vw;
    left:-5vw;
    transform: translateZ(50px) scaleY(1);
}.titler{
    position: absolute;
    bottom: -5vw;
    right:-5vw;
    text-align:right;
    z-index: 3;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    color: white;
    font-size: 5vw;
    margin: 5px;
    border-bottom: 1px solid white;
    transform: translateZ(30px);
}.subtitler{
    position: absolute;
    z-index: 3;

    color: white; 
    font-family: 'Inter';
    font-style: normal;
    font-size: 3vw;
    font-weight: 350;
    bottom: -16vw;
    right:-5vw;
    transform: translateZ(30px);
}#SingVex{
    z-index: 2;
    transform-style: preserve-3d;
    position: absolute;
    height: 27vw;
    display: flex;
    margin-left: 54vw;
    margin-top: 6vw;
}#SSTxBVYN{
    z-index: 2;
    transform-style: preserve-3d;
    position: absolute;
    height: 47vw;
    display: flex;
    margin-left: 8vw;
    margin-top: 16vw;
}#SST-SUTD{
    z-index: 2;
    transform-style: preserve-3d;
    position: absolute;
    height: 35vw;
    display: flex;
    margin-left: 54vw;
    margin-top: 47vw;
}#SSTInvestiture{
    z-index: 2;
    transform-style: preserve-3d;
    position: absolute;
    height: 33vw;
    display: flex;
    margin-left: -1vw;
    margin-top: 75vw;
}#ttorientation{
    z-index: 2;
    transform-style: preserve-3d;
    position: absolute;
    height: 37vw;
    display: flex;
    margin-left: 54vw;
    margin-top: 98vw;
}#girlsinstem{
    z-index: 2;
    transform-style: preserve-3d;
    position: absolute;
    height: 33vw;
    display: flex;
    margin-left: 0vw;
    margin-top: 135vw;
}#MinsterEdu{
    z-index: 2;
    transform-style: preserve-3d;
    position: absolute;
    height: 34vw;
    display: flex;
    margin-left: 54vw;
    margin-top: 151vw;
}#t4g{
    z-index: 2;
    transform-style: preserve-3d;
    position: absolute;
    height: 43vw;
    display: flex;
    margin-left: 0vw;
    margin-top: 185vw;
}#MinsterTrans{
    z-index: 2;
    transform-style: preserve-3d;
    position: absolute;
    height: 32vw;
    display: flex;
    margin-left: -5vw;
    margin-top: 245vw;
}#toFirstLegoLeague{
    z-index: 2;
    transform-style: preserve-3d;
    position: absolute;
    height: 55vw;
    display: flex;
    margin-left: 54vw;
    margin-top: 200vw;
}#saw{
    z-index: 2;
    transform-style: preserve-3d;
    position: absolute;
    height: 36vw;
    display: flex;
    margin-left: 54vw;
    margin-top: 265vw;
}#toorientation{
    z-index: 2;
    transform-style: preserve-3d;
    position: absolute;
    height: 36vw;
    display: flex;
    margin-left: -5vw;
    margin-top: 295vw;
}#tofll{
    z-index: 2;
    transform-style: preserve-3d;
    position: absolute;
    height: 55vw;
    display: flex;
    margin-left: 54vw;
    margin-top: 316vw;
}#science{
    z-index: 2;
    transform-style: preserve-3d;
    position: absolute;
    height: 29vw;
    display: flex;
    margin-left: 54vw;
    margin-top: 384vw;
}#nrc{
    z-index: 2;
    transform-style: preserve-3d;
    position: absolute;
    height: 34vw;
    display: flex;
    margin-left: -2vw;
    margin-top: 360vw;
}#innofest{
    z-index: 2;
    transform-style: preserve-3d;
    position: absolute;
    height: 34vw;
    display: flex;
    margin-left: 5vw;
    margin-top: 425vw;
}#innoscience{
    z-index: 2;
    transform-style: preserve-3d;
    position: absolute;
    height: 34vw;
    display: flex;
    margin-left: 3vw;
    margin-top: 467vw;
}#IVP{
    z-index: 2;
    transform-style: preserve-3d;
    position: absolute;
    height: 45vw;
    display: flex;
    margin-left: 54vw;
    margin-top: 500vw;
}#vicehead{
    z-index: 2;
    transform-style: preserve-3d;
    position: absolute;
    height: 50vw;
    display: flex;
    margin-left: 5vw;
    margin-top: 515vw;
}

#MoreinfoContainer{
    z-index: 5;
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}

#SingVexMO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center;
}#SSTxBVYNMO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center;
}#SST-SUTDMO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center;
}#SSTInvestitureMO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center;
}#ttorientationMO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center;
}#girlsinstemMO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center;
}#MinisterEduMO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center;
}#t4gMO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center;
}#MinsterTransMO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center;
}#toFirstLegoLeagueMO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center;
}#sawMO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center;
}#toorientationMO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center;
}#tofllMO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center;
}#scienceMO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center;
}#nrcMO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center;
}#innofestMO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center;
}#innoscienceMO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center;
}#IVPMO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center;
}#viceheadMO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center; 
}#ACHIEVEMENT2020MO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center; 
}#MERIT2020MO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center; 
}#MERIT2021MO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center; 
}#ACHIEVEMENT2022MO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center; 
}#EAGLES2022MO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center; 
}#EDUSAVE2022MO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center; 
}#MERITBURSARY2022MO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center; 
}#InnoscienceMO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center; 
}#CBPAULSMO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center; 
}#ScienceExplorationChallengeMO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center; 
}#InnovativeMO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center; 
}#PopularMO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center; 
}#PrototypeMO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center; 
}#SecondMO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center; 
}#PERSE2021MO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center; 
}#CATMO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center; 
}#BrainHackMO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center; 
}#AIOMO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center; 
}#FLLMO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center; 
}#Tech4GoodMO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center; 
}#INCMO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center; 
}#BEBRASMO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center; 
}#PERSE2022MO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center; 
}#PERSE22022MO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center; 
}#SUTDMO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center; 
}#AISingaporeMO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center; 
}#CiscoMO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center; 
}#ChineseMO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center; 
}#OpportunityXAwardsMO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center; 
}#APPLEMO{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
    justify-content: center; 
}

.moreInfoBox{
    border-radius: 10px;
    z-index: 6;
    background-color: black;
    margin-top: 10vh;
    height: 85vh;
    width: 90vw;
    display: flex;
    /* flex-wrap: wrap-reverse; */
}#bigImageContainer{
    border-radius: 0px 10px 10px 0px;
    background-color: rgb(0, 0, 30);
    background-image: url("images/square.png");
    background-size:250%;
    background-repeat: repeat;
    background-position: center;
    z-index: 5;
    height: inherit;
    width: 40vw;
    object-fit: scale-down;
    display: flex;
    flex-flow:row wrap;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
}#bigImage{
    padding: 0;
    margin: 0;
    width: 100%;
    
}.bigimageS{
    display: flex;
    flex-direction: column;
}

#moreinfotext{
    width: 60vw;
    padding: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.MOnavigation{
    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
}.MOnavText{
    text-align: center;
    padding-left: 2.05vw;
    margin-block-start: 2vw;
    margin-block-end: 2vw;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    color: rgb(57, 57, 57);
}.MONAVbutton{
    color:rgb(114, 114, 114);
    text-decoration: none;
}.MONAVbutton:hover{
    color:#840CC2;
}
.tagsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}.tags{
    text-align: left;
    position: relative;
    padding-left: 2.05vw;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    color: #BA7535;
}.moreinfoHEAD{
    text-align: left;
    position: relative;
    padding-left: 2.05vw;
    margin-block-start: 2vw;
    margin-block-end: 2vw;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 2rem;
    color: #840CC2;
}.MOtextContainer{
    margin-top: 1rem;
    width: 100%;
    height: 70%;
    overflow-y: scroll;
}
.moreinfoBODY{
    text-align:left;
    position: relative;
    padding-left: 2.05vw;
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    color: white;
}.backButton{
    text-align:center;
    position: relative;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 1rem;
    color: white;
    border-radius: 50%;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    background-color: #840CC2;
    border: 1px solid #840CC2;
    text-decoration: none;
}.backButton:hover{
    color: white;
    background-color: #840CC2;
    border: 1px solid white;
}
@media (max-width:600px){
    .moreInfoBox{
        overflow-y: scroll;
        display: block;
    }#bigImageContainer{
        margin-top: 1rem;
        height: auto;
        width: 100%;
        border-radius: 0px 0px 10px 10px;
    }
    #bigImage{
        height: auto;
        width: 100%;
        border-radius: 0px 0px 10px 10px;
    }#moreinfotext{
        margin: 0.5rem;
        width: auto;
        padding: 0rem;
    }
}



#fourthpage{
    overflow-y: hidden;
    padding-left: 2.05vw;
    margin-bottom: 20vw;
    /* border: 1px solid #848484; */
}.transitiontwo{
    z-index:1;
    position: absolute;
    width: 100vw;
    height:50vw;
    margin-left:-2.05vw;
    background-image: linear-gradient(#0E0035,transparent);
}.awardtitle{
    position:relative;
    z-index: 2;
    margin-left: 0.3vw;
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
    color: #840CC2;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 1.6rem;
    display: flex;
    align-items: baseline;
    justify-content: center;
}.award{
    cursor: pointer;
    text-align: center;
    position:relative;
    z-index: 2;
    margin-left: 3vw;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 350;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    
}
.f{
    color: rgb(183, 140, 32);
    cursor: pointer;
    text-align: center;
    position: relative;
    z-index: 2;
    margin-left: 0vw;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 350;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
}.s{
    color: rgb(172, 172, 172);
    cursor: pointer;
    text-align: center;
    position: relative;
    z-index: 2;
    margin-left: 0vw;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 350;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
}.t{
    color: rgb(175, 73, 0);
    cursor: pointer;
    text-align: center;
    position: relative;
    z-index: 2;
    margin-left: 0vw;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 350;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
}
@media(max-width:600px){
    .award{
        font-size: 0.8rem;
    }.awardtitle{
        font-size: 0.8rem;
    }.f{
        font-size: 0.8rem;
    }.s{
        font-size: 0.8rem;
    }.t{
        font-size: 0.8rem;
    }
}.award:hover{
    color:#6E6BF9;
}.award:hover .f{
    color: rgb(255, 183, 0);
}.award:hover .s{
    color: rgb(232, 232, 232);
}.award:hover .t{
    color: rgb(255, 143, 5);
}

#Certificates{
    cursor: pointer;
    z-index: 7;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    display: none;
    flex-flow:row wrap;
    align-items: center;
    justify-content: center;
}#x{
    position: absolute;
    top: 2vh;
    left: 96vw;
    width: 1.5rem;
}.CertificateImage{
    height: 90vh;
}@media(max-width:600px){
    .CertificateImage{
        height: 55vh;
    }
}



#Cisco{
    display: none;
}#ACHIEVEMENT2020{
    display: none;
}#ACHIEVEMENT2022{
    display: none;
}#AIO{
    display: none;
}#CAT{
    display: none;
}#CAT2{
    display: none;
}#CBPAULS{
    display: none;
}#Chinese{
    display: none;
}#EAGLES2022{
    display: none;
}#EDUSAVE2022{
    display: none;
}#FLL2021{
    display: none;
}#IDE{
    display: none;
}#MERIT2020{
    display: none;
}#MERIT2021{
    display: none;
}#MERITBURSARY2022{
    display: none;
}#NRC{
    display: none;
}#SUTD{
    display: none;
}#BrainHack{
    display: none;
}#OpportunityXAwards{
    display: none;
}#BEBRAS{
    display: none;
}#FLL{
    display: none;
}#PERSE2021{
    display: none;
}#PERSE2022{
    display: none;
}#AISingapore{
    display: none;
}#APPLE{
    display: none;
}#ScienceExplorationChallenge{
    display: none;
}#INC{
    display: none;
}#Second{
    display: none;
}#Innovative{
    display: none;
}#Popular{
    display: none;
}#Prototype{
    display: none;
}#Tech4Good{
    display: none;
}#Innoscience{
    display: none;
}#PERSE22022{
    display: none;
}
@media(max-width:600px){
    #x{
        position: absolute;
        top: 2vh;
        left: 90vw;
        width: 1.5rem;
    }
}


#lastpage{
    position: relative;
    z-index:1;
    display: block;
    height: 100%;
}.bottom{
    padding-left: 5.55vw;
    margin-bottom: 1vh;
    height: 20vw;
    align-items: center;
    display:flex;
    flex-flow:row wrap;
}.bottomlink{
    padding:0 10px;
    /* border: 1px solid #ccc; */
    margin: 5px;
    flex-grow: 1;
    flex-shrink:0;
    flex-basis:auto;

    display:flex;
    flex-flow:row wrap;
}.contactstext{
    margin-left: 1.5vw;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 350;
    font-size: 1.5rem;
    margin-block-start: 0;
    margin-block-end: 0;
    align-self: center;
}@media (max-width:600px){
    .contactstext{
        font-size: 0.8rem;
    }
}.githubi{
    height:5vw;
    width:5vw;
    align-self: center;
}.emaili{
    height:4vw;
    width:5.5vw;
    align-self: center;
}.footer{
    margin-left:7.05vw;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 1rem;
    margin-block-start: 0;
    margin-block-end: 0;
}@media (max-width:600px){
    .footer{
        font-size: 0.5rem;
    }                        
}