body {
    margin: 0px;
    min-height: 10550px;
    background-color: black;  
}

.perpendicular-line {
    position: absolute;
    border-left: 6px;
    border-color: #610094;
    margin-left: 5.4vw;
    height: 10550px;
    margin-top: 40vh;
}

.header {
    /* position: fixed; */
    margin: 0px;
    width: 100%;
    height:7vh;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
} #Yanzhao{
    margin: auto;
    padding: 2vh;
    height: 2vw;
} .mainheader {
    /* padding:0 10px #848484; */
    /* border: 1px solid #ccc; */
    margin: 0px;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
} .menu {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 2vw;
    float: right; 
    padding-left: 1.5vw;
    padding-right: 1.5vw;

    align-items: right;
    display: flex;
    color: #848484;
    text-align: center;
}

#initialpage{
    background-image: url("square.png");
    background-size:150%;
    background-repeat: repeat;
    background-position: center;
    /* border: 1px solid #848484; */
    margin: 0;
    width: 100%;
    height: 100vh;
    align-items: auto;
} .introduction {
    padding-left: 2.05vw;
    margin-top:31vh;
    margin-left: 0;
    height: 300px;
    /* border: 1px solid #848484; */
}.sectionheader{
    display:flex;
    height: 2vh;

    padding-top:1vh;
    margin-left:3vw;
    align-items: center;
    padding-bottom: 1vh;
}.sectionheadertext{
    font-size: 2vw;
    padding-top: 0;
    display: inline-flex;
    margin-block-start: 0;
    margin-block-end: 0vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    color: #848484;
}.dot {
    margin-top: 0;
    height: 0.8vw;
    width: 0.8vw;
    z-index:1;
    background-color:white;
    border-radius: 50%;
    display: inline-flex;
    margin-right:1vw;
}.start{
    margin-left: 4.5vw;
    margin-top: 1vh;
}.starttext{
    margin-block-start: 2vw;
    margin-block-end: 2vw;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 5vw;
    color: white;
}.starttextbottom{
    margin-block-start: 2vw;
    margin-block-end: 2vw;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 2vw;
    color: #848484;
} .LiuYanzhao{
    color:#840CC2
} .transition{
    height: 25.5vh;
    background-image: linear-gradient(transparent, #0E0E0E);
}

#mainheader {
    align-items: center;
    display: flex;
    justify-content: center;
}

.secondpage{
    background-color: #0E0E0E;
    background-size:100%;
    background-repeat: no-repeat;
    padding-left: 2.05vw;
    /* border: 1px solid #848484; */
}.code{
    margin-left: 0.3vw;
    height: 5vw;
    margin-block-start: 0;
    margin-block-end: 0;
    color: #323232;
    font-family: 'Courier';
    font-style: normal;
    font-weight: 400;
    font-size: 2.2vw;
    line-height: 52px;
    display: flex;
    align-items: baseline;
    letter-spacing: -0.1em;
}.text{
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
}